*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    width:100vw;
    height:100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    display:flex;
    justify-content: center;
    align-items: center;

    border-radius: 17px;

    width:500px;
    height:350px;

    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.result{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width:50%;
    height:100%;

    border-radius : 20px;
    padding: 20px;

    color : white;
    background:linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

.result > *{
    padding: 10px;
    text-align: center;
}

#score{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width:150px;
    height: 150px;

    border-radius: 50%;
    background:linear-gradient(to bottom,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}
#score > h3{
    font-size: 3rem;
}

.summary{
    width:50%;
    height: 100%;
    padding: 25px;
}


.summary_card{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 45px;
    margin : 10px 0px;
}   

#continue{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

    height: 50px;
    margin: 20px 0px;
    color:white;
    background-color: rgb(50,59,87);
}

.summary_card > div{
    display:flex;
    color : black;  
    
    margin-left: auto;
}

.summary_card > div > div{
    color: gray;
}

#reaction{
  
    border-radius: 10px;

    color : hsl(0, 100%, 67%);
    background-color:rgb(254,246,246);
    padding :10px;
}

#memory{
    border-radius: 10px;

    color : hsl(39, 100%, 56%);
    background-color:rgb(254,251,243);
    padding :10px;
}
#verbal{
    border-radius: 10px;

    color : hsl(166, 100%, 37%);
    background-color:rgb(244,250,250);
    padding :10px;
}
#visual{
    border-radius: 10px;

    color : hsl(234, 85%, 45%);
    background-color: rgb(243, 243, 252);
    padding :10px;
}