@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf) 
         format('truetype');
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.contents {
    max-width: 46rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: .5rem 1rem 3rem hsla(224, 30%, 27%, .2);
}

.result {
    color:hsla(0, 0%, 100%, .7);
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    border-radius: 1.5rem;
}


.result, 
.summary {
    display: grid;
    align-content: start;
    gap: 1rem;
    padding: 3rem;
}

.summary {
    margin: -1rem;
}

.result {
    padding: 2rem;
}

.summary {
    padding: 3rem;
}

.text p {
    margin: 0;
}

.result-score {
    display: grid;
    width: 10rem;
    margin-inline: auto;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    place-content: center;
}

.result-score span {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1;
    color: hsl(0, 0%, 100%);
}

.great {
    color: hsl(0, 0%, 100%);
    font-size: 1.75rem;
    font-weight: 700;
}

.item-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    padding: 1rem;
}

#reaction {
    background-color: hsla(0, 100%, 67%, .1);
}

#reaction span:first-child {
    color: hsl(0, 100%, 67%);
}

#memory {
    background-color: hsla(39, 100%, 56%, .1);
}

#memory span:first-child {
    color: hsl(39, 100%, 56%);
}

#verbal {
    background-color: hsla(166, 100%, 37%, .1);
}

#verbal span:first-child {
    color: hsl(166, 100%, 37%);
}

#visual {
    background-color: hsla(234, 85%, 45%, .1);
}

#visual span:first-child {
    color: hsl(234, 85%, 45%);
}



.continue{
    color:hsl(0, 0%, 100%);
    background-color: hsl(224, 30%, 27%);
    line-height: 1;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 100vw;
}